<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body class="bg-light">
<div th:fragment="sidebar" class="sidebar sidebar-dark bg-dark">
    <ul class="list-unstyled">
        <li><a id="inp-roles" th:href="@{/roles}"><i class="fa fa-fw fa-link"></i> Roles</a></li>
        <li><a id="inp-users" th:href="@{/users}"><i class="fa fa-fw fa-link"></i> Users</a></li>
        <li><a id="inp_categories" th:href="@{/categories}"><i class="fa fa-fw fa-link"></i> Categories</a></li>
        <li><a id="inp_products" th:href="@{/products}"><i class="fa fa-fw fa-link"></i> Products</a></li>
    </ul>
</div>
</body>
</html>