<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"><title>New Role</title></head>
<body class="bg-light">
<nav th:replace="fragments/header :: header"></nav>
<div class="d-flex">
    <div th:replace="fragments/sidebar :: sidebar"></div>
    <div class="content p-4">
        <h2 class="mb-4">Add Role Form</h2>
        <form method="post" th:action="@{/roles/add}" th:object="${role}">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="form-group">
                        <label for="title">Role name</label>
                        <input th:field="*{title}" type="text" class="form-control" id="title"
                               placeholder="Enter Role name" required>
                    </div>
                    <button class="btn btn-success btn-pill" type="submit">Add</button>
                    <a class="btn btn-danger btn-pill" th:href="@{/roles/add}">Clear</a>
                    <a class="btn btn-primary btn-pill" th:href="@{/roles}">Back</a>
                </div>
            </div>
        </form>
    </div>
</div>
<script th:replace="fragments/footer :: scripts"></script>
</body>
</html>