<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head"><title>New Category</title></head>

<body class="bg-light">

<nav th:replace="fragments/header :: header"></nav>

<div class="d-flex">

  <div th:replace="fragments/sidebar :: sidebar"></div>

  <div class="content p-4">
    <h2 id="add-form-page" class="mb-4">Add Category Form</h2>

    <form method="post" th:action="@{/categories/add}" th:object="${category}" enctype="multipart/form-data">
      <div class="card mb-4">
        <div class="card-body">
          <div class="form-group">
            <label for="ipn-title">Category name</label>
            <input th:field="*{title}" type="text" class="form-control" id="ipn-title"
                   placeholder="Enter Category name" required>
          </div>
          <div class="form-group">
            <label for="code">The Code</label>
            <input th:field="*{article}" type="text" class="form-control" id="code"
                   placeholder="Enter The Code" required>
          </div>
          <button id="add-btn" class="btn btn-success btn-pill" type="submit">Add</button>
          <a class="btn btn-danger btn-pill" th:href="@{/categories/add}">Clear</a>
          <a class="btn btn-primary btn-pill" th:href="@{/categories}">Back</a>
        </div>
      </div>
    </form>
  </div>
</div>

<script th:replace="fragments/footer :: scripts"></script>

</body>
</html>